---
import Layout from '../layouts/Page.astro';
import { Container } from '@components/odyssey-theme';

const seo = {
	title: 'Contact | Astro Odyssey Theme',
	description: 'Contact Page',
};
---

<Layout seo={seo}>
	<Container>
		<section class="contact-hero__section">
			<div class="contact-hero__text-section">
				<h2>Ihr Partner für individuelle Softwareprojekte</h2>
				<p>
					Sie planen ein anspruchsvolles Softwareprojekt oder benötigen Unterstützung in Ihrem Entwicklungsteam?
					Ich unterstütze Unternehmen bei der Konzeption, Umsetzung und Weiterentwicklung individueller Softwarelösungen – zuverlässig, strukturiert und auf Augenhöhe.
				</p>
				<p>Kontaktieren Sie mich gern für ein unverbindliches Erstgespräch.</p>
				<div>
					<p>
						<em id="phone-placeholder"></em> • <em id="mail-placeholder"></em>
					</p>
				</div>
			</div>
		</section>
	</Container>
	<script>
		const user = "niko";
		const domain = "boerger.dev";
		document.getElementById("mail-placeholder").innerHTML =
			`<a href="mailto:${user}@${domain}">${user}@${domain}</a>`;

		const phone = "+49 174 6098501";
		document.getElementById("phone-placeholder").innerHTML = `${phone}`;
	</script>
</Layout>

<style>
	.contact-hero__section {
		margin: var(--section-margin) auto;
		min-height: calc(90vh - var(--navbar-height));
		gap: 3rem;
	}
	.contact-hero__text-section {
		padding: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: var(--theme-surface-1);
		border-radius: var(--theme-shape-radius);
	}
	.col-2__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	@media (max-width: 768px) {
		.contact-hero__section {
			grid-template-columns: 1fr;
		}
	}
</style>
